.songs {
    margin-top: 40px;
    margin-bottom: 110px;
}


.song {
    position: relative;
    display: grid;
    grid-template-columns: 60px 1fr;

    cursor: pointer;

    margin-bottom: 10px;
}

.song img {
    height: 50px;
    width: 50px;

    border-radius: 2px;

    margin-right: 15px; /* todo: replace with gap */
}

.song .info {
    margin-top: 3px;
    white-space: nowrap;
    overflow: hidden;

    background: linear-gradient(to right, #ffffff 80%, transparent 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.song .info h3 {
    font-size: 18px;
}

.song .info p {
    font-size: 14px;
}










